<app-page-header title="لوحة الشرف"></app-page-header>


<div class="articles my-5">
  <div class="container">
    <h2 class="mb-5" data-aos="fade-down">سعيد بن خالد الشهرانى</h2>
    <div class="article">
      <img
        data-aos="zoom-in"
        src="assets/images/honor/honor4.jpg"
        width="500px"
        height="350px"
      />
      <p data-aos="fade-up">
        الغياب المدرسي هو ظاهرةٌ منتشرةٌ بين طلاب المدارس في مختلف المراحل
        العمريّة، ويعرف أيضاً بأنّه عدم حضور الطالب لحصصهِ الدراسية خلال يومٍ من
        أيام الدراسة الرسمية. يمتلك الغياب المدرسي صفةً قانونيّةً؛ إذ يرتبط
        بتحديد فترةٍ زمنيةٍ ضمن نصوص القانون الدراسي المُعدة مسبقاً من قبل وزارة
        التعليم، والتي تُحدد طبيعة الغياب الّذي يُسمح فيه للطلاب خلال العام
        الدراسي الواحد، سواءً بوجودِ أو عدم وجود عُذرٍ مسبقٍ لغيابهم عن مدارسهم.
        أسباب الغياب المدرسي توجد مجموعة من الأسباب الّتي تدفع الطلاب للغياب عن
        مدارسهم، ومنها: أسباب خاصّة بالطالب توجد العديد من الأسباب المرتبطة
        بشخصيّة الطالب، وتجعله يتغيّب عن المدرسة، ومن أهمّها : 1-الإصابة بمرضٍ
        ما، والذي يعد من أكثر الأسباب شيوعاً بين الطلاب، وتعتمد طبيعة، ومدة
        الغياب على درجة تأثير المرض على حالة الطالب الصحيّة. 2- تعرّضه
        للمضايقات، أو للضرب من قبل مجموعة من زملائه في الصف، ومع تكرار هذه
        المضايقات، وعدم وجود حلول منطقيّة، ونهائية لها يدفع ذلك الطالب للغياب عن
        المدرسة هرباً من التعرّض للأذى. كما أنّ درجة قبول الطالب لفكرة الوجود في
        مدرسةٍ ما، تعد من الأسباب المؤثرة، والّتي تنتشر عند انتقال الطلاب بين
        المدارس، أو بسبب شعور الطالب بالكسل، أو الخوف من المدرسة، وخصوصاً في
        المراحل العمرية الأولى، والتي يواجه فيها معظم الطلاب معاناة واضحة في
        التأقلم مع طبيعة المدرسة. أسباب خاصّة بالمعلّمين قد يؤدي أسلوب تعامل بعض
        المعلمين مع الطلاب إلى جعلهم يغيبون عن المدرسة، وخصوصاً في حال تعامل
        المعلّم مع الطالب بطريقةٍ قاسية، أو أن يقوم بتهديده بالضرب، أو شتمه بشكل
        متكرر، ممّا يجعله يفضل الغياب عن المدرسة كحلٍ من الحلول التي تساعده في
        التخلص من الأذى النّفسي، أو الجسدي الّذي يصدر عن أحد معلّميه. أثر الغياب
        على التحصيل الدراسي يؤثر الغياب على التحصيل الدراسي بشكل مباشر، وتنتج
        عنهُ مجموعةٌ من الآثار السلبية، وهي: 1-تراجع المستوى الدراسي عند الطالب؛
        بسبب عدم قدرتهِ على حضور الحصص الدراسية، وبالتالي عدم حصولهِ على
        المعلومات، والنقاط الرئيسيّة المتعلّقة بالدروس. 2-تصبح نسبة رسوب الطالب
        في الامتحانات عاليةً جداً؛ إذ لا يمتلك أية معلومة، أو فكرة حول طبيعة
        المادة الدراسيّة المطلوبة في الامتحان. 3-يصبح الطالب غير قادر على
        الاستمرار في مجاراة زملائه في دروس المنهاج الدراسي، ويصير بحاجةٍ للحصول
        على حصصٍ دراسيّة إضافيّة، أو أن يعتمد على الدراسة الذاتية. . 4-قد يتعرّض
        الطالب لانتقادات من معلّميه، ووالديه؛ بسبب تراجع تحصيله الدراسي.
      </p>
    </div>
  </div>
</div>
