<div class="guidance">
  <div class="page-header">
    <div class="container">
      <section class="row">
        <section class="col-md-5">
          <h3 class="card-text pageTitle">الارشـاد الطــلابي</h3>
        </section>
        <div class="col-md-5"></div>
        <section class="col-md-2 my-5">
          <img
            src="assets\images\school.jpg"
            class="mt-4 smallImage"
            width="150px"
            height="150px"
            style="border-radius: 50%"
          />
        </section>
      </section>
    </div>
    <!-- <h3 class="pageTitle">الارشـاد الطــلابي </h3> -->
  </div>
  <!--  -->
  <div class="jumbotron jumbotron-fluid">
    <section class="container">
      <strong>خطة الارشـاد الطــلابي</strong>
      <p class="text-justify">
        تدريب الأطفال على القراءة والكتابة بكل هدوءٍ وصبرٍ، فهذه المهارات ليست
        سهلةً على طفلٍ لم يعِ عليها أو يمارسها، كما أنّه في هذه المرحلة إذا تم
        تعليمه بشكلٍ سليمٍ أقبل على التعليم وازدادت قدراته العلمية في المستقبل.
        تعليم الأطفال على النقد البناء وتعبيرهم عن آرائهم بكل جرأةٍ وأدبٍ،
        والثبات على الرأي الصحيح.
      </p>

      <p></p>
    </section>
  </div>
  <div>
    <section class="titleContainer my-3">
      <p>تعــــريف التوجيــــه والإرشــــــــــــاد</p>
    </section>
    <div class="container mb-3">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <p class="text-justify">
              عويد الطفل في هذه المرحلة على السلوكيات الجيدة، ففي هذه المرحلة
              يتطلّع الطفل إلى معرفة كل ما هو جديد، ومن هذه السلوكيات الجلوس
              بشكلٍ صحيحٍ في الصف، وحمل الحقيبة بشكلٍ صحيحٍ لكي لا يؤذي ظهره،
              والمحافظة على النظافة الشخصية ونظافة الصف والبيئة المحيطة. تدريب
              عضلات الطفل؛ ففي هذه المرحلة تنمو العضلات الصغيرة والكبيرة ويحتاج
              الطفل إلى تدريب هذه العضلات لاستخدامها بشكلٍ جيدٍ وزيادة قوتها.
            </p>
            <p class="text-justify">
              فيمكن للمعلِّم أن يجعلهم يلعبون ألعاباً بدنيةً كرياضة كرة القدم أو
              صعود الدرج ونزوله عدة مرات، كما أنّ توافر اللوحات التعليمية بشكلٍ
              مجسّم يساعِد الطفل على لمسها والشعور بها. كتابة المقررات والكتب
              المدرسية بخطٍ واضحٍ ليستطيع كل طفل قراءته وفهمه. زيادة مدى إدراك
              الطفل من خلال الرحلات المدرسية الترفيهية والتعليمية، فعندما يرى
              الطفل ما يأخذه في المدرسة على أرض الواقع فإنه يشعر به ويصدِّقه
              ويترّسخ في ذهنه. تدريب الأطفال على القراءة والكتابة بكل هدوءٍ
              وصبرٍ، فهذه المهارات ليست سهلةً على طفلٍ لم يعِ عليها أو يمارسها،
              كما أنّه في هذه المرحلة إذا تم تعليمه بشكلٍ سليمٍ أقبل على التعليم
              وازدادت قدراته العلمية في المستقبل. تعليم الأطفال على النقد البناء
              وتعبيرهم عن آرائهم بكل جرأةٍ وأدبٍ، والثبات على الرأي الصحيح.
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div>
    <section class="titleContainer mt-5 mb-3">
      <p>أهداف التوجيــــه والإرشــــــــــــاد</p>
    </section>
    <div class="container mb-5">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <strong
              >تمتاز المرحلة الابتدائية بعدة خصائص تجعل منها مرحلةً مهمةً في
              حياة الطالِب وعلى المعلِّم إدراك هذه الخصائص للقيام بدوره الفاعل
              والمؤثِّر بشكلٍ إيجاب.
            </strong>
            <ul>
              <li>تعميق أثر الخبرات التعليمية في الحياة التعليمية .</li>
              <li>تدريب الطلاب على الانتفاع بوقت فراغهم فيما يفيدهم .</li>
              <li>تنشئة الطلاب على تخطيط العمل وتنظيمه وتحديد المسؤولية.</li>
              <li>تنشئة الطلاب على العمل التعاوني والروح الرياضية .</li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
