
.guidance .jumbotron .container strong{
    color:#ce2761;
    font-size: medium;
}
/* @keyframes textanimation{
    0%{
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    100%{
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  } */