<div class="admission">

  <app-page-header
    title="القبول و التسجيل"
    responsableImg="../../../../../assets/images/admission/main.jpg"
    responsableName="محمد داوود علي"
    responsableMobile="0500453532"
    position="مسؤول القبول و التسجيل"
  ></app-page-header>
  <!-- TABLE SECTION -->
  <h2 class="sections-header mt-5" data-aos="zoom-in">
    <span>إجراءات التسجيل</span>
  </h2>
  <div class="container">
    <div class="table-responsive" data-aos="fade-up">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">الصف</th>
            <th scope="col">الرسوم</th>
            <th scope="col">الملاحظات</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableRow">
            <td>المرحلة الابتدائية</td>
            <td>12,000 ريال " اثنى عشر ألف ريال</td>
            <td>تم تخفيض 2000 ريال من مؤسس المدارس</td>
          </tr>
          <tr class="tableRow">
            <td>المرحلة الابتدائية</td>
            <td>12,000 ريال " اثنى عشر ألف ريال</td>
            <td>تم تخفيض 2000 ريال من مؤسس المدارس</td>
          </tr>
          <tr class="tableRow">
            <td class="center" colspan="3">رسوم النقل المدرسي</td>
          </tr>
          <tr class="tableRow">
            <td>المرحلة الابتدائية</td>
            <td>12,000 ريال " اثنى عشر ألف ريال</td>
            <td>تم تخفيض 2000 ريال من مؤسس المدارس</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- END SECTION -->
  <!-- header-description component -->
  <div class="container-fluid mt-5">
    <app-header-discription [data]="data"></app-header-discription>
  </div>
  </div>
