<app-page-header
  title=" الأستاذ: طارق بن عوض الزائدي"
  coverImage="../../../../assets/images/home/articles3.jpg"
></app-page-header>

<div class="articles my-5">
  <div class="container">
    <!-- FIRST SECTION -->
    <h2 class="mb-5" data-aos="fade-down">
      حصول مدير المدرسة الأستاذ: طارق بن عوض الزائدي على المركز الثاني ودرع
      التميز في جائزة وزارة والتعليم
    </h2>
    <div class="article">
      <img
        data-aos="zoom-in"
        src="../../../../assets/images/home/articles3.jpg"
        width="500px"
        height="350px"
      />
      <p data-aos="fade-up">
        للتميز في دورتها الأولى على مستوى المملكة العربية السعودية لعام 1431هـ
        /2010م في بادرة جديدة من نوعها دشن اليوم ممثل مكتب تعليم الجنوب المشرف
        التربوي الفاضل الأستاذ / هديان الثبيتي ( مسابقة فارس العربية ) والتي
        تهدف إلى أن تكون ضمن برامج اليوم العالمي للغة العربية للعام القادم
        وبمشاركة جميع مدارس المكتب، تصفيات مسابقة الخطيب المبدع على مستوى فصول
        مدارس طلائع المبدعين الأهلية للتميز في دورتها الأولى على مستوى المملكة
        العربية السعودية لعام 1431هـ /2010م في بادرة جديدة من نوعها دشن اليوم
        ممثل مكتب تعليم الجنوب المشرف التربوي الفاضل الأستاذ / هديان الثبيتي (
        مسابقة فارس العربية ) والتي تهدف إلى أن تكون ضمن برامج اليوم العالمي
        للغة العربية للعام القادم وبمشاركة جميع مدارس المكتب، تصفيات مسابقة
        الخطيب المبدع على مستوى فصول مدارس طلائع المبدعين الأهلية للتميز في
        دورتها الأولى على مستوى المملكة العربية السعودية لعام 1431هـ /2010م في
        بادرة جديدة من نوعها دشن اليوم ممثل مكتب تعليم الجنوب المشرف التربوي
        الفاضل الأستاذ / هديان الثبيتي ( مسابقة فارس العربية ) والتي تهدف إلى أن
        تكون ضمن برامج اليوم العالمي للغة العربية للعام القادم وبمشاركة جميع
        مدارس المكتب، تصفيات مسابقة الخطيب المبدع على مستوى فصول مدارس طلائع
        المبدعين الأهلية
      </p>

      <!-- GALLERY SECTION -->
      <h2
        class="articles-header sections-header justify-content-start text-right"
        data-aos="fade-down"
      >
        <span>صور الخبر</span>
      </h2>
      <div class="swiper-container" data-aos="zoom-out">
        <swiper [config]="config" gallerize>
          <ng-container *ngFor="let img of data">
            <ng-template swiperSlide>
              <img [src]="img" class="card-img-top" alt="..." />
            </ng-template>
          </ng-container>
        </swiper>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>
