

<div class="quality">
  <app-page-header
    title="الجودة الشاملة"
    responsableImg="../../../../../assets/images/quality/main.jpg"
    responsableName="محمد داوود علي"
    responsableMobile="0500453532"
    position="مسؤول الجودة الشاملة"
  ></app-page-header>

  <!-- header-discription component -->
  <div class="container-fluid mt-5">
    <app-header-discription [data]="data"></app-header-discription>
  </div>


  <!-- team component -->
  <h2 class="sections-header mt-5" data-aos="zoom-in">
    <span>فريق إدارة الجودة الشاملة بالمدارس</span>
  </h2>
  <div class="container-fluid mt-5">
    <app-personal-info [data]="teamData"></app-personal-info>
  </div>
</div>
