<div class="homeWork">
  <div class="page-header">
    <div class="container">
      <section class="row">
        <section class="col-md-5">
          <h3 class="card-text pageTitle">الواجبات المنزلية</h3>
        </section>
        <div class="col-md-5"></div>
        <section class="col-md-2 my-5">
          <img
            src="assets\images\school.jpg"
            class="mt-4 smallImage"
            width="150px"
            height="150px"
            style="border-radius: 50%"
          />
        </section>
      </section>
    </div>
    <!-- <h3 class="pageTitle">الواجبات المنزلية</h3> -->
  </div>
  <!--  -->
  <div class="jumbotron jumbotron-fluid">
    <section class="container">
      <!-- <strong data-aos="fade-down-right">خطة الارشـاد الطــلابي</strong> -->
      <p class="text-justify my-2">
        الـواجـب المنزلي/ هو أي نشاط موجه يقوم به الطالب خارج الصف الدراسي بهدف
        التمكن من المادة العلمية . والواجبات المنزلية هي تلك الأعمال المتنوعة
        التي يكلف بها المعلم طلابه لأدائها خارج الصف الدراسي .
      </p>

      <p></p>
    </section>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-2 mx-2">
        <div
          class="card shadow-lg cardHw"
          [routerLink]="['/grades/allhw' + '/1']"
        >
          <div class="card-body">
            <p class="card-text textHw">الصف الاول</p>
          </div>
        </div>
      </div>
      <div class="col-xs-2 mx-2">
        <div
          class="card shadow-lg cardHw"
          [routerLink]="['/grades/allhw' + '/2']"
        >
          <div class="card-body">
            <p class="card-text textHw">الصف الثانى</p>
          </div>
        </div>
      </div>
      <div class="col-xs-2 mx-2">
        <div
          class="card shadow-lg cardHw"
          [routerLink]="['/grades/allhw' + '/3']"
        >
          <div class="card-body">
            <p class="card-text textHw">الصف الثالث</p>
          </div>
        </div>
      </div>
      <div class="col-xs-2 mx-2">
        <div
          class="card shadow-lg cardHw"
          [routerLink]="['/grades/allhw' + '/4']"
        >
          <div class="card-body">
            <p class="card-text textHw">الصف الرابع</p>
          </div>
        </div>
      </div>
      <div class="col-xs-2 mx-2">
        <div
          class="card shadow-lg cardHw"
          [routerLink]="['/grades/allhw' + '/5']"
        >
          <div class="card-body">
            <p class="card-text textHw">الصف الخامس</p>
          </div>
        </div>
      </div>
      <div class="col-xs-2 mx-2">
        <div
          class="card shadow-lg cardHw"
          [routerLink]="['/grades/allhw' + '/6']"
        >
          <div class="card-body">
            <p class="card-text textHw">الصف السادس</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <section class="titleContainer mb-3">
      <p>أهمية الواجبات المنزلية</p>
    </section>
    <div class="container mb-5">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <ol>
              <li>تساعد على تعزيز عملية التعلم .</li>
              <li>تثبت الحقائق والمعلومات التي تعطى للطالب في المدرسة.</li>
              <li>
                تتيح للطلاب المتفوقين مزيداً من التعلم وللطلاب الضعاف وسيلة
                تقوية .
              </li>
              <li>تساعد على ربط المدرسة بالمنزل .</li>
              <li>تشجع الطلاب على الاعتماد على النفس .</li>
              <li>
                تنمي الشعور بالمسؤولية عند الطالب وتساعده على تنسيق أعماله .
              </li>
            </ol>
          </section>
        </div>
      </div>
    </div>
  </div>

  <section class="titleContainer my-3">
    <p>دور الآباء في إنجاز أبنائهم للواجبات المنزلية</p>
  </section>
  <div class="container mb-5">
    <div class="card cardStyle">
      <div class="card-body row">
        <section class="col-md-12">
          <ol>
            <li>
              أن لا يقوموا بإنجاز الواجب المنزلي بدلاً من أبنائهم أو بناتهم ، بل
              عليهم تقديم المساعدة عندما يكون ذلك ضروريا ، وجعل الطالب هو الذي
              يعتمد على نفسه في حل واجباته المدرسية .
            </li>
            <li>
              أن يقوم المعلمون بتشجيع الآباء على زيارة المدرسة من حين إلى آخر ،
              والاتصال بقائد المدرسة والمعلمين لمعرفة نوعية الواجبات ومستوى
              أبنائهم في حلها .
            </li>
            <li>
              تتيح للطلاب المتفوقيناستغلال اجتماعات مجالس الآباء والمعلمين
              لإعطائهم فكرة عن مستوى أبنائهم التحصيلي والسلوكي ، وتحديد النقاط
              التي يحتاجون إلى مساعدة بشأنها .
            </li>
            <li>
              توجيه الآباء إلى أن ينظروا إلى أبنائهم بأنهم مختلفون في قدارتهم
              واهتمامهم وانه من الخطورة إكراه الابن فيما لا يوافق ميوله وقدراته
              .
            </li>
            <li>
              أن لا ينظر الآباء إلى أبنائهم نظرة سلبية وأن لا يشعرون بذلك من حيث
              إمكاناتهم والعقلية ، حتى لا تضعف ثقتهم بأنفسهم .
            </li>
            <li>
              أن يوفر الآباء لأبنائهم جواً دراسياً مريحاً من خلال عقد اجتماع
              عائلي لغرض المساعدة على تنظيم أوقات دراستهم ، يلتزم بقراراته جميع
              أعضاء الأسرة .
            </li>
          </ol>
        </section>
      </div>
    </div>
  </div>
</div>
