<div class="sources">
  <div class="page-header">
    <div class="container">
      <section class="row">
        <section class="col-md-5">
          <h3 class="card-text pageTitle">المصادر والمعامل</h3>
        </section>
        <div class="col-md-5"></div>
        <section class="col-md-2 my-5">
          <img
            src="assets\images\school.jpg"
            class="mt-4 smallImage"
            width="150px"
            height="150px"
            style="border-radius: 50%"
          />
        </section>
      </section>
    </div>
    <!-- <h3 class="pageTitle">المصادر والمعامل</h3> -->
  </div>
  <!---->
  <div class="jumbotron jumbotron-fluid">
    <section class="container">
      <strong data-aos="fade-down-right">خطة الارشـاد الطــلابي</strong>
      <p class="text-justify">
        بعدما تطورت العملية التعلمية في الحقبة الزمنية الأخيرة وانتقالها من طور
        التقليد إلى طور الحداثة ؛والتي تنبني على التفاعل الكامل بين الطالب
        ومعلمه وبين الطالب ومادته الدراسية ، بدأت نظرة القائمين على العملية
        التربوية تتسع لتوفير بيئة تتناسب مع المستجدات العلمية الحديثة ، فالعملية
        التعليمية صارت كلها تنصب على الطالب نفسه ، من أجل ذلك تم توفير بجانب
        البيئة الصفية بيئة الإنتاج والتجارب والإبداع وسعة الأفق الفكري للطالب ،
        فكان توفير المعامل والمختبرات بالمؤسسات التعليمية واجبًا حتميًا وضرورةً
        ملحةً، حتى صار من أساسيات العملية التربوية ، فتم توفير معامل للمواد
        العلمية وللحاسوب والفنية وحجرات تدريبية للمواد الإثرائية ، حيث أن كل ذلك
        من دوره أن يوقظ الاهتمام لدى الطالب وينمي القدرات العلمية والتسجيل
        الدقيق والاستنتاج المبني على الحقائق , وينمي المهارات والأساليب ذات
        القيمة الهادفة ، كما ينمي مدارك الطلاب وقدراتهم الإبداعية ودرجة
        استيعابهم للمعلومات ، مما يكون له دورٌ في التقدم المنشود على المستوى
        التعليمي بالمملكة .
      </p>

      <p></p>
    </section>
  </div>

  <section class="titleContainer my-3">
    <p>المعامل والمصادر بالمرحلة الابتدائية :</p>
  </section>
  <div class="container mb-5">
    <div class="card cardStyle">
      <div class="card-body row">
        <section class="col-md-12">
          <ul>
            <li><strong>أولاً :</strong>مصادر التعلم .</li>
            <li><strong>ثانياً :</strong> معمل العلوم .</li>
            <li><strong>ثالثاً :</strong> معمل الحاسب الآلي .</li>
            <li><strong>رابعاً :</strong> معمل الرياضيات .</li>
            <li><strong>خامساً :</strong> معمل اللغة الإنجليزية .</li>
            <li><strong>سادساً :</strong> معمل الخط العربي .</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
