<!-- <div class="card ">
    <img class="card-img bg-dark" src="assets\contactUs.jpg" alt="Card image" height="300px">
    <div class="card-img-overlay">
      <h2 class="card-text animated flip">اتصل بنا</h2>
     </div>
  </div> -->
<div class="contactUs">
  <app-page-header
    style="direction: rtl; text-align: right"
    title="اتصل بنا"
    responsableImg="../../../../../assets/images/images/contactUs.jpg"
    responsableName="محمد داوود علي"
    responsableMobile="0500453532"
    position="مسؤول اتصل بنا  "
  ></app-page-header>


  <div class="container my-5">
    <div class="row">
      <div class="col-md-4" data-aos="fade-right">
        <div class="card-counter success">
          <i class="fa fa-phone"></i>
          <span class="count-numbers">0551557376</span>
          <span class="count-name">القبول والتسجيل</span>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up">
        <div class="card-counter danger">
          <i class="fa fa-bus"></i>
          <span class="count-numbers">0536229910</span>
          <span class="count-name">النقل المدرسي </span>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-left">
        <div class="card-counter info">
          <i class="fa fa-users"></i>
          <span class="count-numbers">0503719119</span>
          <span class="count-name">العلاقات العامة</span>
        </div>
      </div>
    </div>
  </div>
</div>
