
/* @keyframes textanimation{
    0%{
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    100%{
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  } */
h2,h4{
    text-align: center;
    font-size: medium;
    font-weight: 500;
}
h2{
    color: #ce2761;
    font-weight: 700;
    font-size: larger;
}
