<div class="activity">
  <div class="page-header">
    <div class="container">
      <section class="row">
        <section class="col-md-5">
          <h3 class="card-text pageTitle">النشاط الطلابي</h3>
        </section>
        <div class="col-md-5"></div>
        <section class="col-md-2 my-5">
          <img
            src="assets\images\publicRelation.jpg"
            class="mt-4 smallImage"
            width="150px"
            height="150px"
            style="border-radius: 50%"
          />
        </section>
      </section>
    </div>
    <!-- <h3 class="pageTitle">النشاط الطلابي</h3> -->
  </div>
  <!-- -->
  <div class="jumbotron jumbotron-fluid">
    <section class="container">
      <p class="text-justify">
        لقد حبانا الله سبحانه وتعالى وطنًا مباركًا ..ثروته شعبٌ طموح معظمه من
        الشباب هو فخرنا وضمان مستقبله بعون الله. وطموحنا أن نبني وطنًا أكثر
        ازدهارًا يجد في مستقبله كل مواطن ما يتمناه , فمستقبل وطننا الذي نبنيه
        معًا لن نقبل إلا أن نجعله في مقدمة دول العالم بالتعليم والتأهيل ؛
        ولتحقيق ذلك : يسعى النشاط الطلابي بمدارس طلائع المبدعين الأهلية إلى
        ترسيخ القيم الإيجابية في شخصيات أبنائنا , وتمكين المدرسة بالتعاون مع
        الأسرة لتقوية نسيج المجتمع باكتسابهم المعارف والمهارات والسلوكيات
        الحميدة ليكونوا ذوي شخصيات مستقلة تتصف بروح المبادرة والمثابرة والقيادة
        ولديه القدر الكافي من الوعي الذاتي والاجتماعي والثقافي والعلمي بإشراكهم
        في مجموعة متنوعة من الأنشطة الثقافية والاجتماعية والعلمية والفنية
        والتطوعية والكشفية والرياضية عبر تمكين المنظومة التعليمية والثقافية
        والترفيهية .
      </p>

      <p></p>
    </section>
  </div>

  <div>
    <section class="titleContainer my-5">
      <p>مفهوم النشاط الطلابي</p>
    </section>
    <div class="container">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <p class="text-justify">
              عويد الطفل في هذه المرحلة على السلوكيات الجيدة، ففي هذه المرحلة
              يتطلّع الطفل إلى معرفة كل ما هو جديد، ومن هذه السلوكيات الجلوس
              بشكلٍ صحيحٍ في الصف، وحمل الحقيبة بشكلٍ صحيحٍ لكي لا يؤذي هو
              مجموعة من الخبرات والبرامج والفعاليات التي يمارسها جميع الطلاب حسب
              مراحلهم السنية وفقاً لاحتياجاتهم وميولهم ورغباتهم بخطة محددة
              وفاعلة تحت إشراف المدرسة وبتوجيه من معلميهم لتحقيق الأهداف
              التربوية والتعليمية .
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div>
    <section class="titleContainer my-5">
      <p>أهداف النشاط المدرسي</p>
    </section>
    <div class="container">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <p class="text-justify">
              يجمع خبراء التعليم على أهمية النشاط المدرسي في رفد العملية
              التربوية والكشف عن ميول الطلاب وتنمية مهاراتهم وتفجير قدراتهم حتى
              أصبح هذا النشاط جزءاً مهما من المناهج الدراسية يخصص له ما يكفي من
              الوقت والإمكانات بتحقيق أهدافه التربوية والثقافية والعلمية
              والاجتماعية ولذا خصصت وزارة التعليم ساعة كاملة كل يوم للنشاط والتي
              حرصت مدارس طلائع المبدعين الأهلية على تنفيذها لتحقيق الأهداف التي
              رسمت لها ومن الأهداف العامة لسياسة التعليم في المملكة العربية
              السعودية . فإن الهدف العام من النشاط الطلابي هو (بناء الشخصية
              المتوازنة للطالب من الناحية الاجتماعية والعقلية والجسمية
              والانفعالية ليصبح مواطناً نافعاً يخدم دينه ووطنه وأمته). ويمكن أن
              تتلخص أهداف النشاط الطلابي فيما يلي:
            </p>
            <ol>
              <li>
                غرس مبادئ وقيم ديننا الإسلامي الحنيف وترجمتها إلى واقع عمل
                وتعميقها في نفوس أبنائنا الطلاب.
              </li>
              <li>
                تقوية التلاحم الوطني وطاعة ولاة الأمر واحترام العلماء والمحافظة
                على مكتسبات الوطن.
              </li>
              <li>
                ترسيخ القيم الاجتماعية كالتعاون والمنافسة الشريفة والحوار البناء
                وتقبل الرأي الآخر.
              </li>
              <li>
                توثيق العلاقات الإيجابية بين المدرسة والأسرة والمجتمع باعتبارها
                مؤسسات تربوية تعنى بالطالب.
              </li>
              <li>
                ترسيخ القيم الاجتماعية كالتعاون والمنافسة الشريفة والحوار البناء
                وتقبل الرأي الآخر.
              </li>
              <li>
                توثيق العلاقات الإيجابية بين المدرسة والأسرة والمجتمع باعتبارها
                مؤسسات تربوية تعنى بالطالب.
              </li>
            </ol>
            <strong>ومن أهداف النشاط المدرسي كذلك:</strong>
            <ol>
              <li>تعميق أثر الخبرات التعليمية في الحياة التعليمية .</li>
              <li>تدريب الطلاب على الانتفاع بوقت فراغهم فيما يفيدهم .</li>
              <li>تنشئة الطلاب على تخطيط العمل وتنظيمه وتحديد المسؤولية.</li>
              <li>تنشئة الطلاب على العمل التعاوني والروح الرياضية .</li>
            </ol>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div>
    <section class="titleContainer my-5">
      <p>مجلات النشاط الطلابي بمدارس طلائع المبدعين الأهلية</p>
    </section>
    <div class="container">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <strong
              >تعتمد مدارسنا عدد من الأندية السبعة المعتمدة من وزارة التعليم
              ولدى بعضها تفرعات وهي كالتالي :</strong
            >
            <ol>
              <li>النادي الثقافي ومن تفرعاته ( النادي التوعوي ).</li>
              <li>نادي العلوم والتقنية ومن تفرعاته ( نادي الحاسوب )</li>
              <li>نادي الأسرة والمجتمع ومن تفرعاته ( نادي العمل التطوعي )</li>
              <li>نادي التربية الكشفية .</li>
              <li>نادي الرياضة والصحة .</li>
            </ol>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div>
    <section class="titleContainer my-5">
      <p>خطط النشاط التخصصية الجديدة</p>
    </section>
    <div class="container mb-5">
      <div class="card cardStyle">
        <div class="card-body row">
          <section class="col-md-12">
            <!-- <strong>تعتمد مدارسنا عدد من الأندية السبعة المعتمدة من وزارة التعليم ولدى بعضها تفرعات وهي كالتالي :</strong> -->
            <ul>
              <li>خطة النادي الثقافي</li>
              <li>نادي العلوم والتقنية ومن تفرعاته ( نادي الحاسوب )</li>
              <li>نادي الأسرة والمجتمع ومن تفرعاته ( نادي العمل التطوعي )</li>
              <li>نادي التربية الكشفية .</li>
              <li>نادي الرياضة والصحة .</li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
