<div class="home">
  <div class="swiper-container parallax-slider mt-0">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img-container one"></div>
        <div class="content">
          <h2 class="title">THE HULK</h2>
          <p class="description">
            Dr. Bruce Banner lives a life caught between the soft-spoken
            scientist he’s always been and the uncontrollable green monster
            powered by his rage.
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img-container two"></div>
        <div class="content">
          <h2 class="title">CAPTAIN AMERICA</h2>
          <p class="description">
            Recipient of the Super-Soldier serum, World War II hero Steve Rogers
            fights for American ideals as one of the world’s mightiest heroes
            and the leader of the Avengers.
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img-container three"></div>
        <div class="content">
          <h2 class="title">THor</h2>
          <p class="description">
            The son of Odin uses his mighty abilities as the God of Thunder to
            protect his home Asgard and planet Earth alike.
          </p>
        </div>
      </div>
    </div>
    <!-- pagination -->
    <div class="swiper-pagination pagination-ctrl"></div>
  </div>
  <section class="wave my-2">
    <div class="container department-word">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="word" style="text-align: center">كلمة الإدارة</h1>
          <hr />
          <p class="lead subText">
            الحمد لله رب العالمين والصلاة والسلام على أشرف المرسلين سيدنا محمد
            النبي الأمي وعلى آله وصحبه أجمعين أما بعد: إن التعليم هو أحد أهم
            عناصر الحياة التي تعطي للإنسان معنى لوجوده ؛ فالتعليم هو عملية
            اكتساب المهارات والخبرات، والمعلومات التي يحتاج إليها الإنسان؛ ليكون
            قادرًا على الإبداع وخلق الجديد، والإضافة إلى الإنسانية وإلى التراكم
            المعرفـي الذي بدأ منذ آدم ــ عليه السلام ــ ولا يزال مستمرًا إلى أن
            يرث الله تعالى الأرض ومن عليها. وانطلاقًا مما سبق تم تأسيس مدارس
            طلائع المبدعين الأهلية بمحافظة الطائف بالمملكة العربية السعودية فـي
            عام 1432 هـ على يد الخبير التربوي الأستاذ: عوض بن عواض الزائدي
            الحاصل على وسام المعلم المتميز من وزارة المعارف - التعليم حاليًا -
            فـي عام 1419 هـ ومازال هذا مستمرًا ــ بالاهتمام بالصفوف الأولية خير
            اهتمام ؛ مما كان له أكبر الأثر على بقية المراحل التعليمية بها . ثم
            وضعت مدارس طلائع المبدعين العديد من الأهداف الإستراتيجية أمامها،
            والتي تنطلق من أهداف المملكة العربية السعودية فـي تطوير التعليم
            والارتقاء به ، وتتماشى مع رؤية 2030 ، وقد أثمر هذا ثمره ، واستطاعت
            المدارس أن تحقق العديد من الإنجازات على مستوى جميع الأصعدة.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="department-word">
    <div class="wave">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="content container">
      <h1 class="" >كلمة الإدارة</h1>
      <p class="lead subText">الحمد لله رب العالمين والصلاة والسلام على أشرف المرسلين سيدنا محمد النبي الأمي وعلى آله وصحبه أجمعين أما بعد:
      إن التعليم هو أحد أهم عناصر الحياة التي تعطي للإنسان معنى لوجوده ؛
           فالتعليم هو عملية اكتساب المهارات والخبرات، والمعلومات التي يحتاج إليها الإنسان؛
         ليكون قادرًا على الإبداع وخلق الجديد، والإضافة إلى الإنسانية وإلى التراكم المعرفـي الذي بدأ منذ آدم ــ عليه السلام ــ ولا يزال مستمرًا إلى أن يرث الله تعالى الأرض ومن عليها.
   وانطلاقًا مما سبق تم تأسيس مدارس طلائع المبدعين الأهلية بمحافظة الطائف بالمملكة العربية السعودية فـي عام 1432 هـ
        على يد الخبير التربوي الأستاذ: عوض بن عواض الزائدي الحاصل على وسام المعلم المتميز من وزارة المعارف - التعليم حاليًا - فـي عام 1419 هـ
    ومازال هذا مستمرًا ــ بالاهتمام بالصفوف الأولية خير اهتمام ؛ مما كان له أكبر الأثر على بقية المراحل التعليمية بها .
    ثم وضعت مدارس طلائع المبدعين العديد من الأهداف الإستراتيجية أمامها، والتي تنطلق من أهداف المملكة العربية السعودية فـي تطوير التعليم والارتقاء به ، وتتماشى مع رؤية 2030 ، وقد أثمر هذا ثمره ، واستطاعت المدارس أن تحقق العديد من الإنجازات على مستوى جميع الأصعدة.
    </p>
    </div>
  </section> -->
  <!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 departmentWord" >كلمة الإدارة</h1>
      <section>
      <p class="lead subText">الحمد لله رب العالمين والصلاة والسلام على أشرف المرسلين سيدنا محمد النبي الأمي وعلى آله وصحبه أجمعين أما بعد:</p>
      <p class="lead subText">إن التعليم هو أحد أهم عناصر الحياة التي تعطي للإنسان معنى لوجوده ؛
           فالتعليم هو عملية اكتساب المهارات والخبرات، والمعلومات التي يحتاج إليها الإنسان؛
         ليكون قادرًا على الإبداع وخلق الجديد، والإضافة إلى الإنسانية وإلى التراكم المعرفـي الذي بدأ منذ آدم ــ عليه السلام ــ ولا يزال مستمرًا إلى أن يرث الله تعالى الأرض ومن عليها.</p>
    <p class="lead subText"> وانطلاقًا مما سبق تم تأسيس مدارس طلائع المبدعين الأهلية بمحافظة الطائف بالمملكة العربية السعودية فـي عام 1432 هـ
        على يد الخبير التربوي الأستاذ: عوض بن عواض الزائدي الحاصل على وسام المعلم المتميز من وزارة المعارف - التعليم حاليًا - فـي عام 1419 هـ</p>
    <p class="lead subText">ومازال هذا مستمرًا ــ بالاهتمام بالصفوف الأولية خير اهتمام ؛ مما كان له أكبر الأثر على بقية المراحل التعليمية بها .</p>
    <p class="lead subText"> ثم وضعت مدارس طلائع المبدعين العديد من الأهداف الإستراتيجية أمامها، والتي تنطلق من أهداف المملكة العربية السعودية فـي تطوير التعليم والارتقاء به ، وتتماشى مع رؤية 2030 ، وقد أثمر هذا ثمره ، واستطاعت المدارس أن تحقق العديد من الإنجازات على مستوى جميع الأصعدة.
    </p>
    </section>
    </div>
  </div>     -->
  <!-- <section class="articleSection">
        <div class="articleContainer">
          <div class="articleCard">
            <div class="box" style="background-color: #458eee8f;">
              <div class="content">
                <h3>Card One</h3>
                <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه
                  وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه
                   ... بروشور او فلاير على سبيل المثال </p>
                   <a href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="articleCard">
            <div class="box" style="background-color: #a4a5a477;">
              <div class="content">
                <h3>Card Two</h3>
                <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه
                  وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه
                   ... بروشور او فلاير على سبيل المثال </p>
                   <a href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="articleCard">
            <div class="box" style="background-color: #e92d8577;">
              <div class="content">
                <h3>Card Three</h3>
                <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه
                  وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه
                   ... بروشور او فلاير على سبيل المثال </p>
                   <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </section> -->

  <div class="articles articles-bg mb-5">
    <div class="container">
      <h2 class="articles-header sections-header">احدث المقالات</h2>
      <div class="container my-5">
        <div class="row mt-30">
          <div class="col-md-4 col-sm-6 my-3">
            <div class="box16">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-1.jpg"
              />
              <div class="box-content">
                <h3 class="title">لوريم ايبسوم</h3>
                <span class="post">
                  لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
                  العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
                  مطبوعه بروشور او فلاير على سبيل المثال
                </span>
                <ul class="social">
                  <li title="Read more">
                    <a href="#"><i class="fa fa-plus"></i></a>
                  </li>
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 my-3">
            <div class="box16">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-2.jpg"
              />
              <div class="box-content">
                <h3 class="title">لوريم ايبسوم</h3>
                <span class="post">
                  لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
                  العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
                  مطبوعه بروشور او فلاير على سبيل المثال
                </span>
                <ul class="social">
                  <li title="Read more">
                    <a href="#"><i class="fa fa-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 my-3">
            <div class="box16">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-3.jpg"
              />
              <div class="box-content">
                <!-- <h4>لوريم ايبسوم</h4> -->
                <h3 class="title">لوريم ايبسوم</h3>
                <span class="post">
                  لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
                  العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
                  مطبوعه بروشور او فلاير على سبيل المثال
                </span>
                <ul class="social">
                  <li title="Read more">
                    <a href="#"><i class="fa fa-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 my-3">
            <div class="box16">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-3.jpg"
              />
              <div class="box-content">
                <h3 class="title">لوريم ايبسو</h3>
                <span class="post">
                  لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
                  العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
                  مطبوعه بروشور او فلاير على سبيل المثال
                </span>
                <ul class="social">
                  <li title="Read more">
                    <a href="#"><i class="fa fa-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 my-3">
            <div class="box16">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-3.jpg"
              />
              <div class="box-content">
                <h3 class="title">لوريم ايبسو</h3>
                <span class="post">
                  لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
                  العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
                  مطبوعه بروشور او فلاير على سبيل المثال
                </span>
                <ul class="social">
                  <li title="Read more">
                    <a href="#"><i class="fa fa-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 my-3">
            <div class="box16">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-3.jpg"
              />
              <div class="box-content">
                <h3 class="title">لوريم ايبسو</h3>
                <span class="post">
                  لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
                  العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
                  مطبوعه بروشور او فلاير على سبيل المثال
                </span>
                <ul class="social">
                  <li title="Read more">
                    <a href="#"><i class="fa fa-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="container row justify-content-center">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-lg"
              [routerLink]="['/grades/allgradesarticles']"
            >
              اقرا المزيد...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="jumbotron grades-buttons">
        <div class="container">
          <div class="row">
            <section class="col-md-4 levels my-3">
              <a href="#">
                <span>الابتدائي</span>
                <span>الابتدائي</span>
              </a>
            </section>
            <section class="col-md-4 levels my-3">
              <a href="#">
                <span>المتوسط</span>
                <span>المتوسط</span>
              </a>
            </section>
            <section class="col-md-4 levels my-3">
                <a href="#">
                  <span>الثانوي</span>
                  <span>الثانوي</span>
                </a>
            </section>
          </div>
        </div>
      </div> -->

  <div
    class="jumbotron jumbotron-fluid"
    style="margin-left: auto; margin-right: auto"
  >
    <div class="container">
      <div class="row px-5">
        <div class="col-md-4 col-sm-6 my-3 gradeSection">
          <img src="/assets/images/students.jpg" class="gradeImage" alt="" />
          <div class="overlay">
            <h4 class="age">5 - 10</h4>
            <hr class="gradeBorder" />
            <p class="gradeAge">السن</p>
            <button type="button" class="btn btn-sm gradeButton">
              الابتدائي
            </button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 my-3 gradeSection">
          <img src="/assets/images/students.jpg" class="gradeImage" alt="" />
          <div class="overlay">
            <h4 class="age">11 - 13</h4>
            <hr class="gradeBorder" />
            <p class="gradeAge">السن</p>
            <button type="button" class="btn btn-sm gradeButton">
              المتوسط
            </button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 my-3 gradeSection">
          <img src="/assets/images/students.jpg" class="gradeImage" alt="" />
          <div class="overlay">
            <h4 class="age">14 - 18</h4>
            <hr class="gradeBorder" />
            <p class="gradeAge">السن</p>
            <button type="button" class="btn btn-sm gradeButton">
              الثانوي
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="honor-board container mb-5">
  <div class="book">
    <input type="checkbox" id="c1">
    <input type="checkbox" id="c2">
    <input type="checkbox" id="c3">
    <div id="cover"><img src="assets/images/image4.jpg" class="honorImage" alt=""></div>
    <div class="flip-book">
      <div class="flip" id="p1">
        <div class="back">
          <img src="assets/images/image1.jpg" class="honorImage" alt="">
          <label for="c1" class="back-btn">Back</label>
        </div>
        <div class="front">
          <h2>Name</h2><hr>
          <p class="honorText">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic
          </p>
          <label for="c1" class="next-btn">Next</label>
        </div>
      </div>
         <div class="flip" id="p2">
        <div class="back">
          <img src="assets/images/image2.jpg" class="honorImage" alt="">
          <label for="c2" class="back-btn">Back</label>
        </div>
        <div class="front">
          <h2>Name</h2><hr>
          <p class="honorText">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic
          </p>
          <label for="c2" class="next-btn">Next</label>
        </div>
      </div>
      <div class="flip" id="p3">
        <div class="back">
          <img src="assets/images/image3.jpg" class="honorImage" alt="">
          <label for="c3" class="back-btn">Back</label>
        </div>
        <div class="front">
          <h2>Name</h2><hr>
          <p class="honorText">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic
          </p>
          <label for="c3" class="next-btn">Next</label>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <div class="honor-board honor">
    <div class="container mb-5">
      <swiper
        effect="coverflow"
        [slidesPerView]="4"
        [grabCursor]="true"
        [centeredSlides]="true"
        [autoplay]="true"
      >
        <ng-container *ngFor="let honor of honorData">
          <ng-template swiperSlide>
            <div class="card honorCard">
              <img src="{{ honor.img }}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{ honor.title }}</h5>
                <p class="card-text honorText">{{ honor.desc }}</p>
                <a href="{{ honor.link }}" class="btn-sm btn btn-primary">
                  Read more</a
                >
              </div>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
  </div>
</div>
