<div class="transportation">
  <app-page-header
    title="النقل المدرسي"
    responsableImg="../../../../../assets/images/transportation/main.jpg"
    responsableName="محمد داوود علي"
    responsableMobile="0500453532"
    position="مسؤول النقل المدرسي "
  ></app-page-header>
  <!--   -->
<!-- FIRST SECTION -->
  <div class="container mt-5">
    <div class="department-word container mb-2" data-aos="fade-up">
      <div class="row">
        <div class="panted-bg col-12">
          <section class="word">
            النقل المدرسي من الخدمات التعليمية التي توفرها المدارس لكافة الطلاب
            والطالبات في جميع المراحل التعليمية " الروضة-الابتدائية – المتوسطة –
            الثانوية " مع وجود مشرف مسؤوا عن أمن وسلامة الطلاب داخل الحافلة
            وكذلك للتواصل مع ولي الأمر في صعود ونزول الطالب ليتحقق الأمان المرجو
            منه
            <app-svg-logo [whiteSvgColor]="true"></app-svg-logo>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION -->

<!-- TEAM SECTION -->
  <div>
    <h2 class="sections-header mt-5" data-aos="zoom-in">
      <span>فريق العمل</span>
    </h2>
    <div class="container-fluid">
      <app-personal-info [data]="teamData"></app-personal-info>
    </div>
   </div>

    <!-- END TEAM SECTION -->
    <!-- AREAS SECTIONS -->
    <h2 class="sections-header mt-5" data-aos="zoom-in">
      <span>الأحياء التي يغطيها النقل المدرسي</span>
    </h2>
    <div class="department-word container mb-2" data-aos="fade-up">
      <div class="row">
        <div class="panted-bg col-12">
          <section class="word">
            <ul>
              <li>يغطي النقل المدرسي جميع الأحياء داخل مدينة الطائف</li>
              <li>
                يغطي النقل المدرسي الأحياء الموجودة خارج المدينة " السر – الحلقة
                الشرقية –الحلقة الغربية – الحوية " .
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- END AREAS SECTIONS -->

    <!-- TABLE LAST SECTIONS -->
    <h2 class="sections-header mt-5" data-aos="zoom-in">
      <span>رسوم النقل المدرسي</span>
    </h2>
    <div class="container mb-5">
      <div class="table-responsive" data-aos="fade-up">
        <table class="table">
          <tbody>
            <tr class="tableRow">
              <td>رسوم النقل للأحياء الداخلية</td>
              <td>2500 ريال</td>
              <td>--------</td>
            </tr>
            <tr class="tableRow">
              <td>رسوم النقل للأحياء الخارجية</td>
              <td>3000 ريال</td>
              <td>السر والحلقة والحوية</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <!-- TABLE LAST SECTIONS -->
  
</div>
