


  .department-word {
	display: flex;
	justify-content: center;
  }
    .department-word .panted-bg {
	margin-top: 0px;
	color: #fff;
	position: relative;
	z-index: 10;
	padding: 45px 55px 100px 55px;
	background-image: linear-gradient(to right, #a33347, #e63f5c 100%);
	border-radius: 8px;
	box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.45);
  }
  @media (max-width: 650px) {
	  .department-word .panted-bg {
	  padding: 45px 55px;
	  width: 90%;
	  margin-top: 10px;
	}
  }
  @media (max-width: 550px) {
	  .department-word .panted-bg {
	  padding: 25px 20px;
	}
  }
  
    .department-word .panted-bg .word-header {
	margin-bottom: 22px;
  }
    .department-word .panted-bg app-svg-logo {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: 60px;
  }
  @media (max-width: 650px) {
	  .department-word .panted-bg app-svg-logo {
	  display: none;
	}
  }
    .department-word .panted-bg .word {
	line-height: 25px;
  }
  @media (max-width: 650px) {
	  .department-word .panted-bg .word {
	  height: 150px;
	  overflow-x: hidden;
	  overflow-y: scroll;
	  padding-left: 5px;
	}
  }