<div class="page-header">
  <div class="container">
    <section class="row justify-content-center">
      <h3 class="card-text pageAllTitle">جميع المقالات</h3>
    </section>
  </div>
</div>
<div class="container my-5">
  <input
    class="form-control col-md-3 mx-3"
    type="text"
    name="search"
    [(ngModel)]="search"
    autocomplete="off"
    placeholder="&#61442;  Start searching "
  />
  <!-- <div class="articles-container row">
      <div *ngFor="let obj of fetchData | Filter:{title:search}  | slice: (p-1) * 6 : p * 6"
        class="article col-12 col-sm-6 col-md-6 col-lg-4 my-2"
        [routerLink]="['/articles' + '/1']"
      >
        <div class="overlay-container">
          <img src="{{obj.image}}" />
          <div class="overlay">
            <h4>{{obj.title}}</h4>
            <p>{{obj.description}}
            </p>
          </div>
        </div>
      </div>

    </div> -->

  <div class="row mt-30">
    <div
      class="col-md-4 col-sm-6 my-3"
      *ngFor="let obj of fetchData | slice: (p - 1) * 6:p * 6"
    >
      <div class="box16">
        <img src="{{ obj.image }}" />
        <div class="box-content">
          <h3 class="title">{{ obj.title }}</h3>
          <span class="post">{{ obj.description }}</span>
          <ul class="social">
            <li title="Read more">
              <a href="#"><i class="fa fa-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <ngb-pagination
    class="d-flex justify-content-center"
    [pageSize]="6"
    [collectionSize]="fetchData.length"
    [(page)]="p"
  >
    <ng-template ngbPaginationPrevious class="prev">Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
  </ngb-pagination>
</div>
