<div class="home">
  <!--START CAROUSEL SECTION -->
  <div class="carousel" data-aos="zoom-in">
    <div #slider class="slider">
      <div class="slider__content" id="slider-content">
        <div class="slider__images">
          <div
            class="slider__images-item"
            *ngFor="let data of dummyData"
            [class.slider__images-item--active]="data.active"
            [attr.data-id]="data.id"
          >
            <img [src]="data.img" />
          </div>
        </div>

        <div class="slider__text">
          <div
            class="slider__text-item"
            *ngFor="let data of dummyData"
            [class.slider__text-item--active]="data.active"
            [attr.data-id]="data.id"
          >
            <div class="slider__text-item-head">
              <h3>{{ data.title }}</h3>
            </div>
            <div class="slider__text-item-info">
              <p>“ {{ data.discription }} ”</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__nav">
        <div
          class="slider__nav-arrows"
          [attr.data-newId]="currentActiveNew"
          (click)="navigateToNew($event)"
        >
          <div
            (click)="stopProbagation($event)"
            class="slider__nav-arrow slider__nav-arrow--left"
            id="left"
          >
            to left
          </div>
          <div
            (click)="stopProbagation($event)"
            class="slider__nav-arrow slider__nav-arrow--right"
            id="right"
          >
            to right
          </div>
        </div>
        <div class="slider__nav-dots" id="slider-dots">
          <div
            class="slider__nav-dot"
            *ngFor="let data of dummyData"
            [class.slider__nav-dot--active]="data.active"
            [attr.data-id]="data.id"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!--END CAROUSEL SECTION -->
  
  <!--START DEPARTMENT WORD SECTION -->
  <div class="department-word container mb-5" data-aos="fade-up">
    <div class="row">
      <div class="panted-bg col-12">
        <h2 class="word-header">كلمة الإدارة</h2>
        <section class="word">
          الحمد لله رب العالمين والصلاة والسلام على أشرف المرسلين سيدنا محمد
          النبي الأمي وعلى آله وصحبه أجمعين أما بعد: إن التعليم هو أحد أهم عناصر
          الحياة التي تعطي للإنسان معنى لوجوده ؛ فالتعليم هو عملية اكتساب
          المهارات والخبرات، والمعلومات التي يحتاج إليها الإنسان؛ ليكون قادرًا
          على الإبداع وخلق الجديد، والإضافة إلى الإنسانية وإلى التراكم المعرفـي
          الذي بدأ منذ آدم ــ عليه السلام ــ ولا يزال مستمرًا إلى أن يرث الله
          تعالى الأرض ومن عليها. وانطلاقًا مما سبق تم تأسيس مدارس طلائع المبدعين
          الأهلية بمحافظة الطائف بالمملكة العربية السعودية فـي عام 1432 هـ على
          يد الخبير التربوي الأستاذ: عوض بن عواض الزائدي الحاصل على وسام المعلم
          المتميز من وزارة المعارف - التعليم حاليًا - فـي عام 1419 هـ ومازال هذا
          مستمرًا ــ بالاهتمام بالصفوف الأولية خير اهتمام ؛ مما كان له أكبر
          الأثر على بقية المراحل التعليمية بها . ثم وضعت مدارس طلائع المبدعين
          العديد من الأهداف الإستراتيجية أمامها، والتي تنطلق من أهداف المملكة
          العربية السعودية فـي تطوير التعليم والارتقاء به ، وتتماشى مع رؤية 2030
          ، وقد أثمر هذا ثمره ، واستطاعت المدارس أن تحقق العديد من الإنجازات على
          مستوى جميع الأصعدة.
          <app-svg-logo [whiteSvgColor]="true"></app-svg-logo>
        </section>
      </div>
    </div>
  </div>

  <!--END CAROUSEL SECTION -->
  
  <!--START VISION CARDS SECTION -->
  <div class="vision container">
    <div
      class="vision-card"
      (click)="toggleVission($event)"
      data-aos="fade-right"
    >
      <div class="header" style="background-color: #1dceaa">
        <h4>رؤيتنا</h4>
        <div class="icon">
          <i class="fa fa-eye i"></i>
        </div>
      </div>
      <div class="text">
        <p>
          احداث نقله نوعية فى مخرجات التعليم و الوصول بمستوى مدرستنا الى مستوى
          العالمية فى مختلف جوانبها التربوية التعلمية.
        </p>
      </div>
    </div>
    <div
      class="vision-card"
      (click)="toggleVission($event)"
      data-aos="fade-down"
    >
      <div class="header" style="background-color: #3f8de6">
        <h4>رسالتنا</h4>
        <div class="icon">
          <i class="fa fa-envelope-open-o"></i>
        </div>
      </div>
      <div class="text">
        <p>
          احداث نقله نوعية فى مخرجات التعليم و الوصول بمستوى مدرستنا الى مستوى
          العالمية فى مختلف جوانبها التربوية التعلمية.
        </p>
      </div>
    </div>
    <div
      class="vision-card"
      (click)="toggleVission($event)"
      data-aos="fade-left"
    >
      <div class="header">
        <h4>قيمنا</h4>
        <div class="icon">
          <i class="fa fa-quote-right"></i>
        </div>
      </div>
      <div class="text">
        <ul>
          <li>الوطنية و الانتماء و الولاء</li>
          <li>الوسطية و الاعتدال</li>
          <li>الجودة و التميز</li>
          <li>المبادرة و العمل بروح الفريق</li>
          <li>الابتكار و الحرفيه</li>
        </ul>
      </div>
    </div>
  </div>
  <!--END VISION CARDS SECTION -->

  <!--START ARTICLES SECTION -->
  <div class="articles container-fluid my-5">
    <h2 class="articles-header sections-header" data-aos="zoom-in">
      <span>احدث المقالات</span>
    </h2>
    <div class="articles-container">
      <div class="right">
        <div
          class="article"
          [routerLink]="['./article' + '/1']"
          data-aos="zoom-in"
        >
          <div class="overlay-container">
            <img
              src="../../../../assets/images/home/articles3.jpg"
              width="100%"
              height="100%"
            />
            <div class="overlay">
              <h4>تأثير الغياب علي التحصيل الدراس</h4>
              <p>
                الغياب المدرسي هو ظاهرةٌ منتشرةٌ بين طلاب المدارس في مختلف
                المراحل العمريّة، ويعرف أيضاً بأنّه عدم حضور الطالب لحصصهِ
                الدراسية خلال يومٍ من أيام الدراسة الرسمية.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="left">
        <div
          class="article"
          [routerLink]="['./article' + '/1']"
          data-aos="zoom-in"
        >
          <div class="overlay-container">
            <img
              src="../../../../assets/images/home/articles2.jpg"
              width="100%"
              height="100%"
            />
            <div class="overlay">
              <h4>تأثير الغياب علي التحصيل الدراس</h4>
              <p>
                الغياب المدرسي هو ظاهرةٌ منتشرةٌ بين طلاب المدارس في مختلف
                المراحل العمريّة، ويعرف أيضاً بأنّه عدم حضور الطالب لحصصهِ
                الدراسية خلال يومٍ من أيام الدراسة الرسمية.
              </p>
            </div>
          </div>
        </div>
        <div
          class="article"
          [routerLink]="['./article' + '/1']"
          data-aos="zoom-in"
        >
          <div class="overlay-container">
            <img
              src="../../../../assets/images/home/articles1.jpg"
              width="100%"
              height="100%"
            />
            <div class="overlay">
              <h4>تأثير الغياب علي التحصيل الدراس</h4>
              <p>
                الغياب المدرسي هو ظاهرةٌ منتشرةٌ بين طلاب المدارس في مختلف
                المراحل العمريّة، ويعرف أيضاً بأنّه عدم حضور الطالب لحصصهِ
                الدراسية خلال يومٍ من أيام الدراسة الرسمية.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button
        type="button"
        data-aos="flip-up"
        class="general-button"
        [routerLink]="['./allarticles']"
      >
        جميع المقالات
      </button>
    </div>
  </div>
  <!--END ARTICLES SECTION -->

  <!--START GRADES SECTION -->
  <div class="grades">
    <h2 class="articles-header sections-header text-center" data-aos="zoom-in">
      <span>المراحل الدراسية</span>
    </h2>
    <div class="grades-buttons">
      <div class="grade"  data-aos="fade-down">
        <div class="icon">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="grade-name">
          <h4>المرحلة الابتدائية</h4>
        </div>
        <div class="button">
          <button>ذهاب الى المرحلة الابتدائية</button>
        </div>
      </div>
      <div class="grade"  data-aos="fade-up">
        <div class="icon">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="grade-name">
          <h4>المرحلة المتوسطة</h4>
        </div>
        <div class="button">
          <button>ذهاب الى المرحلة المتوسطة</button>
        </div>
      </div>
      <div class="grade"  data-aos="fade-down">
        <div class="icon">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="grade-name">
          <h4>المرحلة الثانوية</h4>
        </div>
        <div class="button">
          <button>ذهاب الى المرحلة الثانوية</button>
        </div>
      </div>
    </div>
  </div>
  <!--END GRADES SECTION -->

  <!--START VIDEO SECTION -->
  <div class="video-gallery container-fluid my-5">
    <h2 class="articles-header sections-header text-center" data-aos="zoom-in">
      <span>معرض الفيديو</span>
    </h2>
    <swiper [config]="videoConfig" data-aos="flip-up">
      <ng-template swiperSlide>
        <iframe
          width="100%"
          height="350"
          src="https://www.youtube.com/embed/N9NyxHU_Ys0"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-template>
      <ng-template swiperSlide>
        <iframe
          width="100%"
          height="350"
          src="https://www.youtube.com/embed/yAqwRGvE_Gs"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-template>
      <ng-template swiperSlide>
        <iframe
          width="100%"
          height="350"
          src="https://www.youtube.com/embed/k2EqqgyTVgQ"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-template>
      <ng-template swiperSlide>
        <iframe
          width="100%"
          height="350"
          src="https://www.youtube.com/embed/cfTaxVlFBF8"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-template>
    </swiper>
    <div class="text-center mt-4">
      <button type="button" class="general-button" data-aos="flip-up">
        <a
          href="https://www.youtube.com/channel/UCJIRChTJsmZtxuibe4DkgpQ"
          style="text-decoration: none; color: #fff"
        >
          اشترك معنا </a
        ><i class="fa fa-youtube-play"></i>
      </button>
    </div>
  </div>
  <!--END VIDEO SECTION -->

  <!--START GALLERY SECTION -->
  <div class="images-gallery">
    <h2 class="articles-header sections-header text-center" data-aos="zoom-in">
      <span>معرض الصور</span>
    </h2>
    <div class="grid-section" gallerize>
      <div class="grid" *ngFor="let item of imageData" data-aos="zoom-in">
        <div class="grid-img">
          <img src="{{ item.srcUrl }}" alt="" />
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button
        type="button"
        class="general-button"
        [routerLink]="['./gallery']"
        data-aos="flip-up"
      >
        معرض الصور
      </button>
    </div>
  </div>
  <!--END GALLERY SECTION -->

  <!--START HONOR-BOARD SECTION -->
  <div class="honor-section container-fluid">
    <h2 class="articles-header sections-header text-center" data-aos="zoom-in">
      <span>لوحة الشرف</span>
    </h2>
    <div class="swiper-container" data-aos="zoom-in">
      <swiper [config]="honorConfig">
        <ng-container *ngFor="let honor of honorData">
          <ng-template swiperSlide>
            <div class="honor-card">
              <div class="slide-image">
                <img [src]="honor.img" class="card-img-top" alt="..." />
              </div>
              <div class="content">
                <h5 class="card-title">{{ honor.title }}</h5>
                <p class="card-text honorText">{{ honor.desc }}</p>
                <button
                  type="button"
                  class="btn btn-light"
                  [routerLink]="['./honor/1']"
                >
                  اقرا المزيد...
                </button>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
    <hr />
    <div class="text-center mt-4">
      <button
        data-aos="flip-up"
        type="button"
        class="general-button"
        [routerLink]="['./allboard']"
      >
        لوحة الشرف
      </button>
    </div>
  </div>
</div>
<!--END HONOR-BOARD SECTION -->
